*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html {
  font-size: 62.5%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  background-color: #d9d9d9;
  padding: 1.2rem 2rem;
}

.avatar {
  background-color: #adadad;
  padding: 0.8rem 0.9rem;
  border-radius: 100%;
}

form input { 
  display: block;
}

.brand-logo {
  padding: .8rem 2.4rem;
  background-color: rgba(0, 0, 0, .2);
}

.brand-logo p {
  font-size: 1.5rem;
}

.search-bar-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: .5rem;
  padding: 1.0rem 2rem;
}

.search-bar-form .fas {
  cursor: pointer;
}

.search-bar-form input{
  border: none;
  background: none;
  outline: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem; 
}

.nav-links button { 
  border: none;
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.8rem 2.2rem;
  cursor: pointer;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 5;
}

.signin, .signup {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 100%;
  padding: 1.5rem 2.5rem;
  max-width: 45rem;
}

.signin-heading, .signup-heading {
  text-align: center;
  font-size: 2rem;
}

.signin form, .signup form {
    width: 100%;
}

.signin form input, .signup form input { 
  margin: 1.5rem 0;
  width: 100%;
  border: none;
  padding: .9rem 1.2rem;
  background-color: rgba(0, 0, 0, .1);
  outline: none;
}

.signin form input.submit, .signup form input.submit { 
  background-color: #adadad;
  cursor: pointer;
}

.signin button, .signup button {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  text-align: right;
  cursor: pointer;
}

section.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
}

.upload {
  width: 90%;
  max-width: 80rem;
  min-height: 40vh;
  max-height: 450px;
  border-radius: 2rem;
  border: 3px dashed #318CE7;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.upload img {
  width: 10rem;
}

.upload p {
  font-size: 1.5rem;
  margin: .8rem 0;
}

.upload label {
  position: relative;
  padding: .8rem 1.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #76ABDF;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.upload label input {
  display: none;
}

.uploads { 
  width: 100%;
  padding: 2rem 2.8rem;
  background-color: rgba(0, 0, 0, .1);
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.uploads h3 {
  font-size: 2.4rem;
  margin-bottom: 1.3rem;
}

.uploads .documents-uploaded {
  list-style: none;
  width: 100%;
}

.uploads .documents-uploaded li.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  font-size: 1.4rem;
  border-top: none ;
}

.uploads .documents-uploaded li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 1.2rem;
  padding-top: 1.2rem;
  border-top: 2px solid #b1b1b1;
}

.uploads .documents-uploaded li:first-of-type {
  border-top: none;
}

.uploads .documents-uploaded li span {
 width: 120px;
}

